body
{
padding: 0;
margin: 0;
font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 13px;
color: #717171;
background-color: #FFFFFF;
line-height: 1.428571429;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.btn-submit
{
width: 100%;
height: 50px;
font-weight: bold;
font-size: 16px;
-webkit-appearance: button;
cursor: pointer;
border: 0;
border-radius: 3px;
color: #fff;
background-color: #54B551;
border-color: #49a647;
display: inline-block;
margin-bottom: 0;
font-weight: normal;
text-align: center;
vertical-align: middle;
touch-action: manipulation;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
white-space: nowrap;
padding: 4px 12px;
font-size: 15px;
line-height: 1.43;
border-radius: 4px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
}

.btn-submit:hover
{
color: #fff;
background-color: #42943f;
border-color: #367b34;
}

.btn-submit:focus
{
color: #fff;
background-color: #42943f;
border-color: #224c21;
color: #fff;
background-color: #48a245;
border-color: #3d893a;
outline: 0 !important;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}

.btn-submit:active
{
background-image: none;
-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
color: #fff;
outline: 0 !important;
background-color: #42943f;
border-color: #367b34;
}

.box
{
margin: auto;
width: 500px;
border: 1px solid #CCC;
padding: 20px;
border-radius: 3px;
background-color: #FAFAFA;
border-bottom: 4px solid #54b551;
}

@media only screen and (max-width: 750px) {
.box
{
width : 100%;
}
.site-name
{
display: none !important;
}
.liens {
text-align: center;
position: relative;
top: 15px;
}
}
.box-header
{
text-align: center;
margin: 0;
color: #3a6786;
font-size: 24px;
border-bottom: 1px solid #d3d3d3;
padding: 10px 0;
}

.form-elements
{
display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.428571429;
color: #555555;
vertical-align: middle;
background-color: #ffffff;
border: 1px solid #cccccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-elements:focus
{
border-color: #66afe9;
outline: 0;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.ensemble
{
margin-bottom : 15px;
}

.form {
padding: 20px 20px 10px;
}

.site-footer
{
padding-top: 30px;
margin-top: 30px;
border-top: solid 1px #cdcfd2;
display: block;
}

.site-footer-owner
{
display: block;
font-weight: bold;
font-size: 16px;
}

a
{
color: #3a6786;
text-decoration: none;
background-color: transparent;
}

a:hover
{
color : #4e86ad;
}

hr {
margin-top: 20px;
margin-bottom: 20px;
border: 0;
border-top: 1px solid #eeeeee;
box-sizing: content-box;
height: 0;
}

.main
{
max-width: 1000px;
padding: 30px;
margin: auto;
}

.page-header
{
    height: 80px;
    color: #fff;
    background-color: #3a6786;
}

.site-name
{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 40px;
    padding: 10px 20px;
    display: inline-block;
}

.site-slogan
{
    margin-bottom: 25px;
    font-weight: normal;
    opacity: 0.7;
}

.btn-header
{
    display: inline-block;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 10px 15px;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.btn-header + .btn-header {
    margin-left: 15px;
}

.btn-header:hover
{
color: rgba(255, 255, 255, 0.8);
text-decoration: none;
background-color: rgba(255, 255, 255, 0.2);
border-color: rgba(255, 255, 255, 0.3);
}

.liens
{
text-align: center;
position: relative;
bottom: 60px;
}