body{
	background:url('carte.jpg');
	background-size:100% 102%;
	transition: background-size 3s;
}

#go_all{
	border-radius:100px;
	background:black;
	padding:40px;
	color:white;
	text-align:center;
	width:20px;
	cursor:pointer;
}

#go_all:hover{
	opacity:0.8;
}

#cercle{
	border:3px solid black;
	width:100px;
	height:100px;
	padding:10px;
	border-radius:100px;
}

.sci{
    margin-top: -50px;
    margin-left: 0px;
    position: relative;
    border: 2px solid #629DC5;
    border-radius: 20px;
    box-shadow: 0 0 10px 6px #629DC5;
    width: 100px;
    z-index: -1;
    animation-name: syfy;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

@-webkit-keyframes syfy{
to{transform: rotate(360deg);}
} 

#ameriqueN{
	position:absolute;
	height:40%;
	width:40%;
	margin-top:20vh;
}

#ameriqueS{
	position: absolute;
    height: 40%;
    width: 30%;
    margin-top: 50vh;
    margin-left: 20vh;
}

#afrique{
	position: absolute;
    height: 30%;
    width: 20%;
    margin-top: 45vh;
    margin-left: 80vh;
}

#europe{
	position: absolute;
    height: 19%;
    width: 13%;
    margin-top: 25vh;
    margin-left: 85vh;
}

#asie{
	position: absolute;
    height: 30%;
    width: 40%;
    margin-top: 25vh;
    margin-left: 115vh;
}

#oceanie{
	position: absolute;
    height: 28%;
    width: 24%;
    margin-top: 55vh;
    margin-left: 155vh;
}
