body{
	background-size:100% 100%;
	overflow:hidden;
	margin:0;
    background-image: linear-gradient(#19668a, #42943f);
}

.portail{
    background: #19668a;
    width: 50%;
    height: 100%;
    transition: all 5s;
}

#portail_gauche{
	float:left;
}

#portail_droit{
	float:right;
}

.ancrage{
	position:relative;
    height: 395px;
    width: 265px;
    background: rgba(0,0,0,0.7);
    border: 6px solid #042538;
    z-index:99;
    top:50%;
    transform: translateY(-50%);
    transition: all 1s;
}

#ancrage_gauche{
	float:right;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-right-color:transparent;
    z-index:1000;
}

#ancrage_droit{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-left-color:transparent;
}

#ancrage_porte{
	height:100%;
	position:absolute;
	border:3px solid #042538;
	box-shadow:0px 0px 20px 2px white;
}

#perso_alien1{
	width: 40%;
    height: 100px;
    background:url('alien1.png');
    background-size:100% 100%;
   -webkit-animation: moove_alien 5s linear;
   -webkit-animation-iteration-count: infinite;
   transition: all 1s;

}

@-webkit-keyframes moove_alien{
     from {transform:rotate(-4deg);}
     50% {transform:rotate(4deg);}
     to   {transform:rotate(-4deg);v }
}

#scenar{
	position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    padding: 10px;
    transition: all 1s;
}

#dialogue{
	position:relative;
	width: 80%;
    float: right;
    margin-top: -100px;
    margin-right:-25%;
    background: rgba(0,0,0,0.8);
    color: white;
    text-align: center;
    padding: 5px;
    z-index:9000;
    height:90px;
    border-radius:10px;
    transition: all 0.5s;
}

#arrow{
	margin-top: -80px;
    margin-left: 115px;
    font-size: 35px;
    color: rgba(0,0,0,0.5);
}

#logo_terre{
	background: url('terre.png');
    background-size: 110% 110%;
    background-position: -19px -21.5;
    width: 100%;
    height: 66%;
    border-radius: 300px;
    margin-left: -50%;
    margin-top: 25%;
    transition: all 2s;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#pannel_connexion{
	transition: all 1s;
}

.btn-submit
{
width: 100%;
padding:10px;
font-size: 16px;
cursor: pointer;
color: #fff;
background-color: #54B551;
border-color: #49a647;
font-weight: normal;
text-align: center;
touch-action: manipulation;
border: 1px solid transparent;
line-height: 1.43;
border-radius: 4px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
}

.btn-submit:hover
{
color: #fff;
background-color: #42943f;
border-color: #367b34;
}

.btn-submit:active
{
box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
color: #fff;
background-color: #42943f;
border-color: #367b34;
}

.box
{
margin: auto;
width: 500px;
border: 1px solid #CCC;
padding: 10px;
border-radius: 3px;
background-color: #FAFAFA;
border-bottom: 4px solid #54b551;
}

@media only screen and (max-width: 750px) {
.site-name
{
display: none !important;
}
.liens {
text-align: center;
position: relative;
top: 15px;
}
}

.box-header
{
text-align: center;
margin: 0;
color: #3a6786;
font-size: 24px;
border-bottom: 1px solid #d3d3d3;
padding: 5px 0;
}

.form-elements
{
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.428571429;
color: #555555;
background-color: #ffffff;
border: 1px solid #cccccc;
border-radius: 4px;
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-elements:focus
{
border-color: #66afe9;
box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.ensemble
{
margin-bottom : 15px;
}

.form {
padding: 8px 20px 10px;
}

.site-footer
{
padding-top: 30px;
margin-top: 30px;
border-top: solid 1px #cdcfd2;
display: block;
}

.site-footer-owner
{
display: block;
font-weight: bold;
font-size: 16px;
}

a
{
color: #3a6786;
text-decoration: none;
background-color: transparent;
}

a:hover
{
color : #4e86ad;
}

hr {
margin-top: 20px;
margin-bottom: 20px;
border: 0;
border-top: 1px solid #eeeeee;
box-sizing: content-box;
height: 0;
}

.main
{
max-width: 1000px;
padding: 10px;
margin: auto;
}

.page-header
{
    height: 80px;
    color: #fff;
    background-color: #3a6786;
}

.site-name
{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 40px;
    padding: 10px;
    display: inline-block;
}

.site-slogan
{
    margin-bottom: 25px;
    font-weight: normal;
    opacity: 0.7;
}

.btn-header
{
    display: inline-block;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 10px 15px;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.btn-header + .btn-header {
    margin-left: 15px;
}

.btn-header:hover
{
color: rgba(255, 255, 255, 0.8);
text-decoration: none;
background-color: rgba(255, 255, 255, 0.2);
border-color: rgba(255, 255, 255, 0.3);
}

.liens
{
text-align: center;
position: relative;
bottom: 60px;
}

#erreur_sql{
    position: absolute;
    width: 35%;
    background: #7c1216;
    left: 50%;
    margin-left: -17.5%;
    padding: 10px;
    text-align: center;
    color: white;
    top:10px;
    cursor:pointer;
    transition: top 1s, opacity 2s;
    display:none;
    opacity:0;
    z-index:9999;
    top:-30px;
}

#erreur_sql:hover{
  background:rgba(124, 18, 22, 0.6);
}

#box_home{
    display:none;
    margin: auto;
    width: 800px;
    height: 550px;
    min-width:800px;
    color:white;
}

#box2_home{
    height: 85%;
    width: 100%;
    border-bottom: 2px solid white;
    box-sizing:content-box;
}

#terre{
    background: url('terre.png');
    background-size: 110% 112%;
    background-position: -12px -16px;
    width: 21%;
    height: 30%;
    border-radius: 300px;
    transition: all 2s;
    margin: auto;
    margin-top: -10%;
    box-shadow: 0px 0px 7px 1px white;
}

#jouer{
    width: 70%;
    margin: auto;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    background-color: rgba(25, 152, 57, 0.8);
    border-color: #49a647;
    transform: translateY(110%);
    font-weight: normal;
    text-align: center;
    touch-action: manipulation;
    border: 1px solid transparent;
    line-height: 1.43;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    transition: all 0.2s;
}

#jouer:hover{
color: #fff;
background-color: rgba(25, 152, 57, 0.9);
border-color: #367b34;
}

#jouer:active{
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
color: #fff;
background-color: #42943f;
border-color: #367b34;
}

#submit2{
    margin-top:10px;
    background-color: #19668a;
    border-color: #19668a;
}

#submit2:hover{
    color: #fff;
    background-color: #1c5873;
    border-color: #081b25;
}

#menu{
    width: 100%;
    box-sizing: content-box;
}

.case_menu{
    float: left;
    padding: 20px;
    font-size: 20px;
    width: 25%;
    border-bottom: 2px solid white;
    text-align: center;
    cursor:pointer;
    transition: all 0.2s;
}

.case_profil{
    float: left;
    padding: 20px;
    padding-bottom:0px;
    font-size: 20px;
    width: 25%;
    text-align: center;
}

.case_menu:hover{
    border-bottom-color:#42943f;
    color:#b2b011;
}

#pseudo_j{
    font-size:22px;
}

#titre_j{
    font-size:15px;
}

#profil_j{
    border-right:2px solid white;
    background:rgba(0,0,0,0.5);
    border-radius:5px;
}

#box3_home{
    height: 81.8%;
    transform: translateY(85px);
    box-sizing:content-box;
}

#profil_details{
    height: 100%;
    float: left;
    width: 25%;
    margin-left: -199px;
    margin-top: -65px;
}

#box4_home{
    width: 75%;
    float: right;
    margin-top: -50%;
    height: 80%;
    overflow:scroll;
    overflow-x:hidden;
}

#pdp{
    height:75%;
    width:100%;
    background:rgba(0,0,0,0.5);
}

#pdp2{
    margin-top:10px;
    height:90%;
    width:90%;
    margin-left:10px;
}

#stats_j{
    text-align: left;
    padding: 10px;
    background: rgba(0,0,0,0.6);
}

#xp_barre{
    width: 125%;
    height: 7px;
    border: 1px solid white;
    margin-top: 15px;
    margin-left: -20;
    border-radius:5px;
}

#xp_barre_in{
    width:70%;
    height:100%;
    float:left;
    background:#19668a;
}

#next_scenar{
    z-index: 9999;
    text-align: center;
    position: absolute;
    border-radius: 5px;
    top: 65;
    left: 330px;
    color: white;
    padding: 15px;
    cursor:pointer;
    font-size:22;
}

#next_scenar:hover{
    color:#42943f;
}

#box_article{
    width: 100%;
    height: 70px;
    background: rgba(0,0,0,0.2);
    cursor:pointer;
    transition: all 0.2s;
}

#box_article:hover{
    font-size:19px;
}

#titre_article{
    padding: 5px;
    border-bottom: 1px solid white;
    margin-left: 10px;
    width: 80%;
}

#description_article{
    padding: 5px;
}

#auteur_article{
    margin-top: -30;
    float: right;
    padding: 10px;
}

#date_article{
    float: right;
    margin-top: -30;
    padding: 10px;
}

::-webkit-scrollbar {
    background:rgba(0,0,0,0.4);
    width:5px;
}

::-webkit-scrollbar-thumb{
    background:rgba(0,0,0,0.4);
}

#retour_art{
    margin: 20px;
    text-decoration:underline;
    cursor:pointer;
    transition: all 0.2s;
}

#retour_art:hover{
    font-size:20px;
}

#titre2_art{
    text-align: center;
    font-size: 25px;
}

#descr2_art{
    text-align: center;
    margin-top: 30px;
    font-size: 19;
}

#text_art{
    text-align: center;
    margin-top: 30px;
    padding:10px;
}

#date2_art{
    margin-left: 70%;
    margin-top: 10px;
}

#auteur2_art{
    margin-left:75%;
}

#copyrights{
    margin-top: 100px;
    text-align: center;
    padding: 30px;
}

#deco{
    position: absolute;
    right: 30px;
    top: 30px;
    cursor: pointer;
    transition: all 0.5s;
}

#deco:hover{
    font-size:20px;
}

.error {
display : none;
position: absolute;
z-index : 2;
left: 35%;
width: 30%;
padding: 10px;
text-align: center;
color: #fff;
border: 2px solid #d73939;
background-color: #cb4e4e;
}

a.logout {
color: #fff;
}

.success {
display: none;
position: absolute;
z-index: 2;
left: 35%;
width: 30%;
padding: 10px;
text-align: center;
color: #fff;
border: 2px solid #39d74c;
background-color: #4ecb74;
}

.load {
display :none;
cursor: not-allowed;
text-align: center;
padding: 10px;
border: 1px solid #aa9f9f;
border-radius: 5px;
background-color: #c4baba;
color: #fff;
}